/* App.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
}

.container {
  max-width: 414px;
  width: 100%;
  padding: 20px;
  box-shadow: 0 0 10px #ccc;
  background-color: #fff;
  border-radius: 10px;
  text-align: center;
}

.main {
  margin-bottom: 20px;
}

.screenshot {
  max-width: 100%;
  border-radius: 10px;
}

.popup__logo {
  border-radius: 8px;
  height: 40px;
  width: 40px;
}

.popup__name {
  font-size: 16px;
  font-weight: 700;
  margin: 10px 0;
}

.popup__desc {
  color: #333;
  font-size: 14px;
  margin-bottom: 20px;
}

.popup__button {
  background-color: #3498db;
  border: none;
  border-radius: 25px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  padding: 12px 50px;
  text-decoration: none;
  display: inline-block;
  transition: background-color 0.3s;
}

.popup__button:hover {
  background-color: #2980b9;
}
